models/disciplinas.dtd


<!ELEMENT disciplinas (disciplina+)>

<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT carga (#PCDATA)>
<!ELEMENT ementa (#PCDATA)>
<!ELEMENT semestre (#PCDATA)>
<!ELEMENT curso (nome)>
<!ELEMENT disciplina (codigo, nome, carga, ementa, semestre, curso)>


<!ATTLIST disciplina id CDATA #REQUIRED>
<!ATTLIST coordenador id CDATA #REQUIRED>
<!ATTLIST disciplinas curso_id CDATA #REQUIRED>
<!ATTLIST disciplinas curso_nome CDATA #REQUIRED>